version: "3.4"

services:
  api:
    image: node:18.12.1-alpine
    volumes:
      - ./shared:/app/shared
      - ./api:/app/api
    working_dir: /app/api
    command: >
      sh -c "yarn install && yarn start:dev"
    environment:
      - TZ=Europe/London
      - MONGO_USERNAME=${MONGO_USERNAME}
      - MONGO_PASSWORD=${MONGO_PASSWORD}
      - MONGO_HOST=${MONGO_HOST}
      - REDIS_URL=${REDIS_URL}
      - MONZO_CLIENT_ID=${MONZO_CLIENT_ID}
      - MONZO_CLIENT_SECRET=${MONZO_CLIENT_SECRET}
      - MONZODASH_DOMAIN=${MONZODASH_DOMAIN}
      - SENTRY_DSN=${SENTRY_DSN}
      - DEBUG=true
    links:
      - redis
      - mongo
  client:
    image: node:18.12.1-alpine
    volumes:
      - ./:/app
    working_dir: /app/client
    environment:
      - VITE_API_URL=/api
    command: >
      sh -c "yarn install && export VITE_APP_VERSION=$(node -pe \"require('../package.json').version\") && export VITE_APP_NAME=$(node -pe \"require('../package.json').name\") && yarn start"
  mongo:
    image: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    ports:
      - 27017:27017
    volumes:
      - ./db:/data/db
  redis:
    image: redis:6.2.6-alpine
    environment:
      - PGID=1000
      - PUID=1000
    ports:
      - 6379:6379
    command: [ "redis-server", "--appendonly", "yes" ]
    volumes:
      - ./redis:/data
    #restart: always

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGO_USERNAME}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGO_PASSWORD}
      ME_CONFIG_MONGODB_URL: mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@mongo:27017/

  nginx:
    image: nginx
    volumes:
      - ./nginx:/etc/nginx/templates
    ports:
      - "80:80"
    environment:
      - NGINX_HOST=localhost
      - NGINX_PORT=80
